@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 033, 100);
  --primary-color-darker: rgb(9, 48, 111);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.container h1 {
  text-align: center;
  color: rgb(17, 033, 100);
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}

form label {
  margin-left: 1rem;
}

.btn-primary {
  background-color: rgb(17, 033, 100);
  margin-top: 2rem;
  width: 150px;
  border: none;
}

.senha-gerada {
  text-align: center;
  color: green;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 1rem 0 1rem 0;
}
.form-check:nth-child(2) {
  margin-top: 1rem;
}
.qtd-caracteres {
  width: 25px;
  height: 25px;
  font-size: 15px;
  border: 1px solid rgb(17, 033, 100);
  border-radius: 5px;
}